BOT_TOKEN=PUT_YOUR_BOT_TOKEN_HERE
ALLOWED_CHAT_IDS=
ENABLE_TELEGRAM=1
ENABLE_ML=1
LOOP_SECONDS=120
AUTO_EDGE_ALERTS_ENABLED=true
AUTO_EDGE_ALERTS_INTERVAL_SEC=45
AUTO_EDGE_ALERTS_COOLDOWN_SEC=300
AUTO_EDGE_ALERTS_TIMEFRAMES=15m,1h
